@media(max-width: 400px) {
  header .logo, header .navigation, header .navigation li, #subscribe h1, #subscribe form, #boxes .container .box {  
    float:none;
    text-align: center;
    width: 100%;
  }
  
  #hero-image .text h1{
    font-size: 25px;
  }
  #subscribe h1 {
  font-size: 20px;
  }

  #subscribe form input[type="email"], button{
    margin:5px;
    width: 100%;
  }
  #main .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 0 20px;
  }
  #main .container .developer{
    width: 10%;
  }
  
} 

